.header{
    padding: 20px;
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    border-top: 10px solid #1687a7;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.header__logo{
    height: 80px;
    padding-left: 20px;
}
.header__right{
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header__user{
    background-color: beige;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    flex: 0.1;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.header__user > .header__img{
    margin-right: 18px;
}
.header_username{
    padding-left: 8px;
}
.header__link{
    text-decoration: none;
    color: black;
}
.header__link :hover {
    cursor: pointer;
    border-bottom: 5px solid #a1de93;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
    background-color: beige;
}
.header__link > h3{
    font-weight: 400;
    padding: 20px;
}
@media (max-width: 990px) {
    .header{
      flex-direction: column;
    }
    .header__user{
        margin-top: 10px;
    }
    .header__logo{
        margin-bottom: 15px;
    }
  }